html, body {
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(17, 17, 17);

    position: relative;
}

.logo{
    width: 205px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu ul{
    list-style: none;
}

.menu li{
    display: inline;
    cursor: pointer;
    padding: 8px;
    color: white;
}

.menu{
    position: absolute;
    right: 50px;
    bottom: 13px;
}